@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Noto+Sans:wght@100&family=Poppins:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  top: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mooli", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: rgb(6, 28, 70);
  box-shadow: inset 1px solid;
  position: fixed;
  width: 100%;
  z-index: 1;
}
header h2 a {
  text-decoration: none;
  color: aliceblue;
}
.container1 {
  padding: 15px 5em;
  display:flex;
  text-align: center;
  justify-content: space-between;
}
nav ul li {
  display: inline-flex;
  justify-content: space-between;
  margin: 0 1em;
}
nav ul li a {
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
  font-weight: bold;
}
nav ul li a:hover {
  color: rgb(6, 185, 245);
  transition: 0.5s ease;
}
nav ul li a:after {
  content: "";
  height: 3px;
  width: 80%;
  display: flex;
  background: rgb(19, 235, 156);
  left: 0;
  margin-top: 2px;
  opacity: 0;
}
nav ul li a:hover::after {
  opacity: 1;
  transition: 0.5s ease;
  animation: appear 0.5s linear;
}
@keyframes appear {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

.intro {
  background-color: rgb(7, 40, 97);
  color: antiquewhite;
  text-align: center;
  padding-top: 10%;
}
.intro h3 {
  font-size: 40px;
}
.intro h3 span {
  color: aqua;
}
.intro p {
  margin-top: 2%;
  font-size: 20px;
  color: aliceblue;
  font-weight: bold;
}
.button {
  padding: 80px;
}
.button button {
  margin: 30px;
  padding: 18px 30px;
  background: rgba(223, 214, 207, 0.231);
  cursor: pointer;
  border-radius: 8px;
  outline: none;
  border: none;
}
.button a {
  text-decoration: none;
  font-size: 18px;
  color: rgba(229, 236, 243, 0.881);
  font-weight: 520;
}
.button button:hover {
  background-color: rgba(240, 248, 255, 0.416);
  transition: 0.5s ease;
}
/* .button :nth-child(2){
    background-color: rgba(241, 243, 244, 0.416);
}
.button :nth-child(3){
    background-color: rgb(255, 234, 0);
} */
#about {
  background: rgb(9, 49, 113);
  padding-top: 8em;
  padding-left: 8em;
  display: flex;
  height: 80vh;
  justify-content: space-between;
}
.about h1 {
  color: aliceblue;
  font-size: 30px;
}
.aboutinfo {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.aboutinfo li a {
  text-decoration: none;
  color: rgb(174, 197, 216);
  font-size: 20px;
}
.aboutinfo li {
  list-style: none;
  padding-bottom: 20px;
}
.aboutinfo li i {
  font-size: 20px;
  margin-right: 15px;
  color: rgb(12, 239, 144);
}
#about img {
  width: 20%;
  height: 55%;
  margin-right: 10em;
}

.faqs {
  background: rgb(5, 37, 109);
  color: aliceblue;
  text-align: center;
  padding: 60px;
}
.faqs_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.faq {
  padding: 2rem;
  display: flex;
  gap: 1rem;

  height: fit-content;
  border-radius: 8px;
  background: rgb(3, 94, 125);
  cursor: pointer;
}
.faq h4 {
  font-size: 1rem;
  line-height: 2.2;
}
.faq_icon {
  align-self: flex-start;
}
.faq p {
  margin-top: 0.8rem;
  display: none;
  text-align: left;
}
.faq.open p {
  display: block;
}
.faqs h2 {
  padding-bottom: 40px;
}

.products {
  background: rgb(5, 42, 128);
  color: aliceblue;
  padding: 2em;
}
.products h2 {
  text-align: center;
}
.product1 {
  padding-top: 40px;

  background: rgba(229, 236, 243, 0.132);
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.123);
}
.product1 li {
  list-style: none;
  padding-bottom: 20px;
}
.product1 h2 {
  padding-bottom: 0px;
}
.product1 a {
  text-decoration: none;
  color: aliceblue;
}
.product1 ul {
  padding-bottom: 40px;
  margin-right: 30px;
}
.products h2 {
  padding-bottom: 35px;
}
.productlist {
  display: flex;
  justify-content: space-evenly;
}
.product1:hover {
  background: rgba(229, 236, 243, 0.235);
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.123);
}
.product1 ul button {
  margin-top: 20px;
  margin-left: 28%;
  padding: 10px 40px;
  border-radius: 8px;
  border: none;
  background: rgba(0, 128, 255, 0.566);
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.footer {
  background: rgb(3, 31, 96);
  text-align: center;

  padding: 20px;
}
.footer p {
  color: aliceblue;
  font-weight: bold;
}
nav button {
  display: none;
}
@media screen and (max-width: 600px) {
  nav ul li {
    display: none;
  }
  nav button {
    display: none;
  }
  .intro h3 {
    font-size: 25px;
    padding-top: 40px;
  }
  .intro p {
    font-size: 11px;
  }
  .button {
    padding: 19px;
  }
  .button button {
    margin: 20px;
    padding: 9px 14px;
  }
  .button a {
    font-size: 15px;
  }
  #about {
    padding-top: 3em;
    padding-left: 3em;
  }
  .about h1 {
    font-size: 15px;
  }
  .about li a {
    font-size: 12px;
  }
  .about li i {
    font-size: 12px;
    margin-right: 4px;
  }
  #about {
    padding-top: 3em;
    padding-left: 0em;
    padding-bottom: 40px;
    flex-direction: column-reverse;
    text-align: center;
  }
  #about img {
    width: 70%;
    height: 50%;
    margin-left: 15%;
    padding-bottom: 0px;
    border-radius: 8px;
  }
  .aboutinfo {
    text-align: left;
    justify-content: space-evenly;
  }
  .faqs_container {
    grid-template-columns: 1fr;
  }
  .faq {
    padding: 1.5rem;
  }
  .productlist {
    flex-direction: column;
  }
  .product1 {
    margin-bottom: 20px;
  }
  .product1 ul button {
    margin-left: 35%;
  }
  .container1 {
    padding: 10px 1em;
  }
  nav ul li.dash a {
    font-size: 12px;
  }
  nav ul li.dash {
    display: block;
    padding-top: 6px;
    margin-left: 15px;
  }
  .faqs h2 {
    font-size: 18px;
  }
  .faqs {
    padding: 40px;
    padding-bottom: 60px;
  }
  .faq {
    padding: 1rem;
  }
  .faq h4 {
    font-size: 12px;
  }
  .products h2 {
    font-size: 18px;
  }
  .product1 ul {
    font-size: 13px;
  }
  .product1 ul button {
    margin-left: 26%;
  }
  .product1 ul .btn {
    margin-left: 10%;
  }
  .product1 ul li {
    margin-right: 5px;
  }
}
/* @media screen and (max-width: 00px) {
  nav ul li{
    display: none;
  }
  .button {
    padding-bottom: 85px;
  }
  .button button {
    margin: 0px;
    padding: 10px 9px;
  }
  .intro h3 {
    font-size: 2px;
    padding-top: 80px;
  }
  .intro p {
    font-size: 1px;
  }
  #about img {
    width: 70%;
    height: 50%;
    margin-left: 15%;
    padding-bottom: 0px;
    border-radius: 8px;
  }
  #about {
    padding-top: 3em;
    padding-left: 0em;
    padding-bottom: 40px;
  }
  .faqs h2 {
    font-size: 18px;
  }
  .faqs {
    padding: 40px;
    padding-bottom: 60px;
  }
  .faq {
    padding: 1rem;
  }
  .faq h4 {
    font-size: 12px;
  }
  .products h2 {
    font-size: 18px;
  }
  .product1 ul {
    font-size: 13px;
  }
  .product1 ul button {
    margin-left: 17%;
  }
  .product1 ul .btn {
    margin-left: 10%;
  }
  .product1 ul li {
    margin-right: 5px;
  }
  header h2 a {
    font-size: 18px;
  }
  nav ul li.dash {
    display: block;
    padding-top: 6px;
    margin-left: 15px;
  }
  nav ul li.dash a {
    font-size: 12px;
  }
  .container1 {
    padding: 10px 1em;
  }
} */

.vps {
  background: rgb(3, 31, 96);
  padding: 30px;
  color: aliceblue;
}
.vps h2 {
  padding-top: 60px;
  text-align: center;
  color: aliceblue;
}
.vpsprice {
  border-radius: 8px;
  background: rgba(252, 251, 251, 0.201);
  width: 25%;
  text-align: center;
  padding-bottom: 50px;
  margin-right: 40px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.123);
}
.minecraftprice {
  border-radius: 8px;
  background: rgba(252, 251, 251, 0.201);
  width: 25%;
  margin-right: 20px;
  text-align: center;
  padding-bottom: 50px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.123);
}
.vpsinfo {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.187);
  width: 75%;
  margin-left: 45px;
}

.vpsinfo li {
  list-style: none;
  text-align: left;
  padding: 10px;
  padding-left: 40px;
}
.vpsprice p {
  padding: 10px;
  font-size: 12px;
  padding-bottom: 15px;
  font-weight: bold;
  color: rgb(174, 197, 216);
}
.minecraftprice p {
  padding: 10px;
  font-size: 12px;
  padding-bottom: 15px;
  font-weight: bold;
  color: rgb(174, 197, 216);
}
.vpsprice h3 {
  padding-top: 30px;
}
.minecraftprice h3 {
  padding-top: 30px;
}
.vpslist {
  display: flex;
  justify-content: center;

  padding-top: 40px;
}
.vpsinfo li i {
  padding-right: 8px;
}
.vpsprice span {
  font-size: 18px;
  font-weight: bold;
}
.minecraftprice span {
  font-size: 18px;
  font-weight: bold;
}
.minecraftprice button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: rgba(255, 69, 69, 0.813);
  border-radius: 8px;
  color: aliceblue;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  cursor: pointer;
  font-size: 18px;
}
.vpsprice button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: rgba(255, 69, 69, 0.813);
  border-radius: 8px;
  color: aliceblue;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  cursor: pointer;
  font-size: 18px;
}
@media screen and (max-width: 600px) {
  .vpslist {
    flex-direction: column;
  }
  .vpsprice {
    width: 100%;
  }
  .vpsinfo {
    width: 80%;
    margin-left: 32px;
  }
  .vpsinfo li {
    padding-left: 18px;
  }
  .vpsprice {
    margin-bottom: 20px;
  }
  .minecraftlist {
    display: flex;
    flex-direction: column;
  }
  .minecraftprice {
    width: 100%;
  }
}
.minecraftlist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 40px;
}
/* @media screen and (max-width: 1024px) {
  .container1{
    justify-content: space-between;
  }
  .about h1 {
    color: aliceblue;
    font-size: 35px;
  }
  #about {
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    height: auto;
  }
  #about img {
    display: none;
  }
  .aboutinfo li a {
    text-decoration: none;
    color: rgb(174, 197, 216);
    font-size: 25px;
  }
  .aboutinfo {
    justify-content: none;
  }
  .intro h3 {
    font-size: 30px;
    padding-top: 80px;
  }
  .intro p {
    font-size: 20px;
  }

  .productlist {
    flex-direction: column;
  }
  .product1 {
    width: 50%;
    margin-bottom: 20px;
    margin-left: 25%;
  }
  .product1 li i {
    margin-right: 10px;
  }
  .vps {
    height: 100vh;
  }
  .vpslist {
    flex-direction: column;
    align-items: center;
  }
  .vpsprice {
    width: 50%;
    margin-bottom: 30px;
  }
  .vpsinfo {
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.187);
    width: 75%;
    margin-left: 58px;
  }
  .vps {
    height: 100%;
  }
  .bot{
    height: 100vh;
  }
  .minecraftlist {
    display: flex;
    align-items: center;
  }
  .minecraftprice{
    width: 50%;
  }
} */
::-webkit-scrollbar{
  width: 0.5rem;
  overflow-x: none;
  border-radius: 20px;
}
::-webkit-scrollbar-track{
  border-radius: 0px;
  background: #455fc8;
  margin-block: 0rem;
}
::-webkit-scrollbar-thumb {
  background: var(--color-bg2);
  border-radius: 20px;
  background: var(--color-bg2);
  background: var(--color-bg2);
}
:root{
  --color-primary: #6c63ff;
  --color-success: #00bf8e;
  --color-warning: rgba(244, 244, 9, 0.825);
  --color-danger: #f75842;
  --color-danger-variant: rgba(247, 88,66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255,255, 0.7);
  --color-black: #000;
  --color-bg: #1f2641;
  --color-bg1: #2e3267;
  --color-bg2: #424890;
  --transition:  all 400ms ease; 
  --container-width-lg: 76%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

}